a.el-container(id="el-#{element.get("Symbol").toLowerCase()}",
               class="#{element.get("Category").split(" ").join("-").toLowerCase()} #{element.get("Phase")}",
               data-number=element.get("Number"))
  .el
    .num= element.get("Number")
    .symbol= element.get("Symbol")